#login{
    background-image: url(../images/Inicio1.png);
}

.material-icons.md-195 { font-size: 78px; }

.font-cover{
    /*cubra toda la pantalla*/
    background-size: cover;
      /*no se repita la imagen de fondo*/
    background-repeat: no-repeat;
       /*que la imagen se fija*/
    background-attachment: fixed;
    background-position: center center;

    /*background-color: #F5F5F5;*/

}

.boton{
  padding: 355px;float:inline-end;width: 380px;
}

